<!DOCTYPE html>
<html>
	<body>
		<header id="partial_header">
			<center>
			<nav align="center">
				<a class="bar" href="https://ayham.xyz">[ home ]</a>
				<a class="bar" href="https://tildegit.org/ayham">[ git ]</a>
				<a class="bar" href="proj.htm">[ proj ]</a>
				<a class="bar" href="blog/index.html">[ blog ]</a>
				<a class="bar" href="setup.htm">[ setup ]</a>
				<a class="bar" href="books.htm">[ books ]</a>
				<a class="bar" href="contact.htm">[ contact ]</a>
			</nav>
			</center>
		</header>
		<body>
</html>
