<!DOCTYPE html>
<html>
	<body>
		<header id=partial_header>
			<nav>
				<a class=bar href="https://ayham.xyz">
					<li>[_home_]</li>
				</a>
				<a class=bar href="https://tildegit.org/ayham">
					<li>[_git_]</li>
				</a>
				<a class=bar href="https://ayham.xyz/proj.htm">
					<li>[_proj_]</li>
				</a>
				<a class=bar href="https://ayham.xyz/blog/index.html">
					<li>[_blog_]</li>
				</a>
				<a class=bar href="https://ayham.xyz/setup.htm">
					<li>[_setup_]</li>
				</a>
				<a class=bar href="https://ayham.xyz/books.htm">
					<li>[_books_]</li>
				</a>
				<a class=bar href="https://ayham.xyz/contact.htm">
					<li>[_contact_]<li>
				</a>
			</nav>
		</header>
		<body>
</html>
