<!DOCTYPE html>
<html>
	<body>
		<header id="partial_header">
			<nav align="center">
				<ul
					style=list-style-type:none;margin:0;padding:0;color:greenyellow;>
					<li>
						<a href="https://ayham.xyz">[ home ]</a>
					</li>
					<li>
						<a href="https://tildegit.org/ayham">[ git ]</a>
					</li>
					<li>
						<a href="proj.htm">[ proj ]</a>
					</li>
					<li>
						<a href="blog/index.html">[ blog ]</a>
					</li>
					<li>
						<a href="setup.htm">[ setup ]</a>
					</li>
					<li>
						<a href="books.htm">[ books ]</a>
					</li>
					<li>
						<a href="contact.htm">[ contact ]</a>
					</li>
				</ul>
				</ul>
			</nav>
		</header>
		<body>
</html>
