:root {
	--genwidth: 850px ;
	--navwidth: 175px ;
	--fg: #ddd ;
	--altfg: #ccc ;
	--fgemph: white ;
	--bg: #111 ;
	--altbg: #222 ;
	--emph: #333 ;
	--bordercolor: #555 ;
	--limish: #0e0 ;
	--bg: rgba(0,0,0,0.4) ;
	--altbg: rgba(0,0,0,0.4) ;
}
@font-face { font-family: mechanical; src: url('font.otf'); }

body {
		font-family: mechanical;
		background: linear-gradient(#000040, #000000) fixed ;
		margin-bottom: 100px;
}
main {
		margin: auto;
		color: var(--fg);
		background: var(--bg);
		padding: 1em;
		border: dashed 1px var(--bordercolor);
		border-radius: 5px;
}
footer {
		text-align: center;
}
a {
		color: slateblue;
}
pre {
		background: #1f252d;
		border: 1px solid var(--limish);
		border-radius: 5px;
		padding: 1em;
		margin: 1em;
		white-space: pre-wrap;
}
code {
	background-color: #1f252d;
	color: var(--limish);
	overflow-wrap: break-word;
}
.resright {
	display: block;
	margin: auto;
	max-width: 90%;
	max-height: 300px;
}
@media (min-width: 55em) {

	.resright, .disappear {
		display: block ;
		float: right;
		padding: 20px ;
		clear: both ;
		max-height: 300px ;
		max-width: 300px ;
	}

	.resmid {
		max-height: 300px ;
		max-width: 300px ;
	}

	main {
		max-width: var(--genwidth) ;
	}

	.column {
		float: left;
		width: 50% ;
	}

}
.text-left {float:left}
.text-right {
		float:right;
}
.header-right {
		display: inline;
		float: right;
}
.nav-class {
		color: greenyellow;
}
