<!DOCTYPE html>
<html>
	<body>
		<link rel="stylesheet" href="../styles/header.css">
		<header id=partial_header
			style=position:sticky;display:content;overflow:hidden>
			<nav>
				<ul>
					<li>
						<nobr>
						<a class="viewer" href="https://ayham.xyz">🏠
							<i class="hidden">Home</i>
						</a>
						</nobr>
					</li>
					<li>
						<nobr>
						<a href="https://store.ayham.xyz">
							🏪 <i class="hidden">Store</i>
						</a>
						</nobr>
					</li>
					<li>
						<nobr>
						<a href="https://tildegit.org/ayham">
							<img width=32 height=32 src="https://ayham.xyz/pix/git.svg" alt="git logo">
							<i class="hidden">Git</i>
						</a>
						</nobr>
					</li>
					<li>
						<nobr>
						<a href="https://ayham.xyz/proj.htm">
							⚙️ <i class="hidden">Projects</i>
						</a>
						</nobr>
					</li>
					<li>
						<nobr>
						<a href="https://ayham.xyz/blog/index.html">
							📜 <i class="hidden">Articles</i>
						</a>
						</nobr>
					</li>
					<li>
						<nobr>
						<a href="https://ayham.xyz/setup.htm">
							 💻 <i class="hidden">Setup</i>
						</a>
						</nobr>
					</li>
					<li>
						<nobr>
						<a href="https://ayham.xyz/books.htm">
							📚 <i class="hidden">Library</i>
						</a>
						</nobr>
					</li>
					<li>
						<nobr>
						<a href="https://ayham.xyz/contact.htm">
							📧 <i class="hidden">Contact</i>
						</a>
						</nobr>
					</li>
				</ul>
			</nav>
		</header>
		<body>
			<br/>
</html>
