<!DOCTYPE html>
<html>
	<body>
		<header id=partial_header>
			<nav>
				<ul>
					<a href="https://ayham.xyz">
						<li>🏠 Home</li>
					</a>
					<a href="https://store.ayham.xyz">
						<li>🏪 Store</li>
					</a>
					<a href="https://tildegit.org/ayham">
						<li><img src="https://ayham.xyz/pix/git.svg" alt="git logo">
							Git</li>
					</a>
					<a href="https://ayham.xyz/proj.htm">
						<li>⚙️ Projects</li>
					</a>
					<a href="https://ayham.xyz/blog/index.html">
						<li>📜 Articles</li>
					</a>
					<a href="https://ayham.xyz/setup.htm">
						<li>🖥 Setup</li>
					</a>
					<a href="https://ayham.xyz/books.htm">
						<li>📚 Library</li>
					</a>
					<a href="https://ayham.xyz/contact.htm">
						<li>📧 Contact</li>
					</a>
				</ul>
			</nav>
		</header>
		<body>
			<br/>
</html>
