<!DOCTYPE html>
<html>
		<head>
				<title>$TITLE</title>
				<link rel="stylesheet" href="../style.css">
				<link rel="shortcut icon" type="image/jpg" href="../pix/pfp.ico"/>
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<script
						src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
						type="text/javascript"></script>
				<script type="text/javascript">
					$(document).ready(function() { 
											$("#partial_header").load("../partials/header.htm");
											$("#partial_footer").load("../partials/footer.htm"); }); 
				</script>

		</head>
		<body>
			<main>
