<!DOCTYPE html>
<html>
		<head>
				<title>~ayham</title>
				<link rel="stylesheet" href="../style.css">
				<link rel="shortcut icon" type="image/jpg" href="../pix/pfp.ico"/>
		</head>
		<body>
				<main>
						<div id=partial_header></div>
						<main>
								<pre>
				<code>
WAW CODE!
AMAZING CODE
non amazing code</code>
								</pre>
								<br/>
								hello this is at text
								<br/>
								<br/>
								<br/>
								<br/>
								<br/>
						</main>
						<div id=partial_footer></div>
				</main>
		</body>
</html>
