<!DOCTYPE html>
<html>
		<head>
				<title>~ayham</title>
				<link rel="stylesheet" href="../style.css">
				<link rel="shortcut icon" type="image/jpg" href="../pix/pfp.jpg"/>
		</head>
		<body style="background:black">
				<article>
						<header id="partial_header"></header>
						<main align="center">
								<pre>
				<code>
WAW CODE!
AMAZING CODE
non amazing code</code>
								</pre>
								<br/>
								hello this is at text
								<br/>
								<br/>
								<br/>
								<br/>
								<br/>
						</main>
						<footer id="partial_footer"></footer>
				</article>
		</body>
</html>
