<!DOCTYPE html>
<html>
	<body>
		<header id=partial_header>
			<nav>
				::before
				<a class=bar href="https://ayham.xyz">
					<li>Home</li>
				</a>
				<a class=bar href="https://store.ayham.xyz">
					<li>🏪 Store</li>
				</a>
				<a class=bar href="https://tildegit.org/ayham">
					<li><img src="https://ayham.xyz/pix/git.svg" alt="git logo">
						Git</li>
				</a>
				<a class=bar href="https://ayham.xyz/proj.htm">
					<li>⚙️ Projects</li>
				</a>
				<a class=bar href="https://ayham.xyz/blog/index.html">
					<li>📜 Articles</li>
				</a>
				<a class=bar href="https://ayham.xyz/setup.htm">
					<li>🖥 Setup</li>
				</a>
				<a class=bar href="https://ayham.xyz/books.htm">
					<li>📚 Books</li>
				</a>
				<a class=bar href="https://ayham.xyz/contact.htm">
					<li>📧 Contact<li>
				</a>
			</nav>
		</header>
		<body>
</html>
