<!DOCTYPE html>
<html>
	<body>
		<header id=partial_header>
			<center>
				<nav>
					<h1>Ayham's Webpage</h1>
					<a class=bar href="https://ayham.xyz">[_home_]</a>
					<a class=bar href="https://tildegit.org/ayham">[_git_]</a>
					<a class=bar href="https://ayham.xyz/proj.htm">[_proj_]</a>
					<a class=bar href="https://ayham.xyz/blog/index.html">[_blog_]</a>
					<a class=bar href="https://ayham.xyz/setup.htm">[_setup_]</a>
					<a class=bar href="https://ayham.xyz/books.htm">[_books_]</a>
					<a class=bar href="https://ayham.xyz/contact.htm">[_contact_]</a>
				</nav>
			</center>
		</header>
		<body>
</html>
